.container {
  display: flex;
  width: 100%;
}

.grid-table-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}


.grid-table-row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-table-item {
  border: 1px solid #000;
  padding: 5px;
}

.is-active {
  color: red;
}
